html
  head
    title Green Room
  body
    h1 League Green Room
    ul
      li
        a(href="/") Home
      li
        a(href="/show") Shows
      li Availability
    if user
      p You are logged in as #{user.full_name}
    block content
