extends layout

block content
  h2 Here are the show details...
  dl
    dt Date/Time
    dd= show.start_time
  h3 Lineup
  ul
    each slot in slots
      li= slot.team_name+" "+slot.slot_id
      if slot.cast
        ul
          each person in slot.cast
            li= person.full_name
